<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SKYCAST WEATHER APP</title>

</head>

<body>
    <div class="card"> 

    <h1> ☁️ Welcome to SkyCast ☀️</h1>
  
 <FORM method ="POST" action= "/results"> <!-- post sents data user entered to the server and /results - go to the results route and do the function -->  
  
   
    <input type="text" name = "cityname" id = "cityname" placeholder="Enter city name" autocomplete="on" required> <BR>
    <button type ="submit" class = "button"> Get Weather Data </button>
    <script>
  // Clears input when returning from another page
  window.onload = function() {
    document.getElementById('cityname').value = '';
  };
</script>
    </FORM>
    </div> 
</body>

</html>
